
body{
    line-height:1.5;
}

*{
    margin: 0;
    box-sizing:border-box;
}

 :before,:after{
     box-sizing: border-box;
 }

 .container{
     max-width: 1200px;
     margin:auto;
 }
 .row{
     display:flex;
     flex-wrap:wrap;
 }
 .v-center{
     align-items: center;
 }
 /*header*/
.header .item-left{
    background-color: yellow;
    flex: 0 0 17%;
}
.header .item-center {
    background-color: red;
}
.header .item-right {
    background-color: blue;
    flex: 0 0 17%;
}
/*banner*/
.banner-section {
    background-image: url('../img/welcome.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
    display: block;
}